html {
    font-family:'Gill Sans', 'Gill Sans MT', Courier New, 'Trebuchet MS', sans-serif;
    
    --green: #0C0;
    --white: #EEE;
    --black: #111;
    --error: #F00;
    --meta: #0FF;
    --debug: #FF0;
}

body, .white-on-black {
    --text: var(--white);
    --back: var(--black);
    --error: #F00;
    --meta: #32a3ff;
    --debug: #FF0;
}

body, #themes {
    background-color: #202020;
}

#output {
    background-color: var(--back);
    overflow-y:scroll;
    height: 96vh;
    margin: 0 auto;
    padding: 2px;
}

#output p {
    margin: 0;
    color: var(--text);
    font-size: 115px;
}

#output .error {
    color: var(--error);
}

#output .meta {
    color: var(--meta);
}

#output .debug {
    color: var(--debug);
}

#input {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.container {
    margin: 0 auto;
    width: 100%;
    position: relative;
    border: 3px solid var(--black);
}